.contenedor{
	display: grid;
	grid-gap: 20px;


	/*grid-template-columns: repeat(4, minmax(100px, 1fr));*/

	/*Para solucionar lo responsive utilizamos (auto-fill)*/
	/*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
	/*() rellenado toda nuestra fila con todas las columnas que poner dentro, y creara colñumnas implicitas
	en caso de que quepan, cuando no caben lo ponen debajo*/

	/*(auto-fit): nos pemite rellenar todo el contenedor con las columnas que tengamos diponibles*/
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}