.contenedor{
	display: grid;
	grid-gap: 20px;

	/*repetimos cuantas veces quermos las medidas
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
	grid-template-columns: repeat(6, 1fr);
	/*grid-template-columns: 200px repeat(5, 1fr);*/
	

	/*grid-template-rows: 1fr, 1fr, 1fr;*/
	grid-template-rows: repeat(3, 1fr);


}